body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #fdfdfd;
  color: #333;
}

header {
  background-color: #283e4a;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2rem;
  text-align: center;
}

footer {
  background: #eee;
  padding: 1rem;
  text-align: center;
  font-style: italic;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background: #283e4a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #3b5363;
